@import url("https://fonts.googleapis.com/css2?family=Poppins");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #6caffe;
}

#drum-machine {
  width: 400px;
  text-align: center;
  background-color: #131385;
  color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.buttons {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.drum-pad {
  padding: 1em;
  background-color: #f994cc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s ease-out;
  border-radius: 5px;
}

.drum-pad:hover {
  transform: scale(1.1);
}
